.botao {
    padding: 1rem 2rem;
    cursor: pointer;
    margin: 0.5rem;
    color: white;
    border: none;
}

/* cada ação com uma cor */
.cadastrar {
    background-color: forestgreen;
}

.editar {
    background-color: blue;
}

.lista {
    background-color: orange;
}

.excluir {
    background-color: red;
}

.cancelar {
    background-color: gray;
}